.logo{
	cursor: pointer;
	margin-left: 15px;
	
}
.nav_link li{
	display: inline-block;
	padding: 0px 20px;
}
.nav_links{
	text-decoration: none;
	text-align: center;
 
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000000;
	border: none;
	border-radius: 10px;
	height: 75px;
}

body{
	animation: transitionIn 0.75s;
	background-image: url("Contact Me.jpg");
	background-size: cover;
}
nav{
	background-color: #000000;
	border-radius: 125px;
	justify-content: flex-end;
}
.para:link{
	color: #261261;
	text-decoration: none;
}
.para:visited{
	color: #261261;
}
.para:hover{
	color: #4f26c2;
}

@keyframes transitionIn{
	from{
		opacity: 0;
		transform: translateY(-10px);
		transform: translateX(-10px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
		transform: translateX(0);
	}
}
.heading{
	text-align:left;
	font-size: 40px;
	color: #000000;
	font-family: 'Noto Serif', serif;
}
.heading_1{
	text-align:center;
	color: #000000;
	font-family: 'Noto Serif', serif;
}
p{
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	text-align: right;
	color: #2A3A45;
}
.container{
	text-align: right;
}

.button{
	background-color: #f9e6ff;
	width: 210px;
	height: 50px;
	color: #4f26c2;
	border-radius: 10px;
	transition: ease-out 0.3s;
	font-size: 2rem;
	outline: none;
	border: 5px solid  #4f26c2;
	position: relative;
	z-index: 1;
	
}
.button:hover{
	color: #f9e6ff ;
	cursor: pointer;
}
.button:before{
	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: #4f26c2;
}
.nav:link{
	color: #FFFFFF;
	text-decoration: none;
}
.nav:visited{
	color: #FFFFFF;
	text-decoration: none;
}
.nav:hover{
	color: #CDDEFF;
}


.button:hover:before{
	transition: 0.5s all ease;
	left: 0;
	right:0;
	opacity: 1;
	z-index: -1;
}
.button_1{
	background-color: #7895B2;
	color: #F5EFE6;
	border: none;
	border-radius: 100px;
	height: 40px;
	width: 190px;
	box-shadow: inset 0 0 0 #000000;
	transition: ease-out 0.5s;
	font-size: 20px;
	font-family: 'Noto Serif', serif;
	
}
.button_1:hover{
	box-shadow: inset 300px 0 0 0 #AEBDCA;
	color: #E8DFCA;
	cursor: pointer;
}
.button_2{
	background-color: #4f26c2;
	color: #fde5fe;
	border: none;
	border-radius: 100px;
	height: 40px;
	width: 190px;
	box-shadow: inset 0 0 0 #fde5fe;
	transition: ease-out 0.5s;
	font-size: 20px;
	font-family: 'Noto Serif', serif;
	
}
.button_2:hover{
	box-shadow: inset 300px 0 0 0 #a285ff;
	color: #4f26c2;
	cursor: pointer;
}

